body{
    background-size: cover;
    background-color: #ffffff;
    color: #e70a0a;
    font-size: 14px;
    margin: 0px;
}
.logo{
    color:  #e70a0a;
    background-color: #ffffff;
}
a{
    text-align: center;
    text-decoration: #e70a0a;
    font-weight: bold;
    display: inline-block;
    color: rgb(245, 8, 8);
    font-size: 20px;
    width: 20%;
    border-right: solid 1px #ffffff;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 1px;
}
nav a:last-child{
    border-right: none;
}
.active{
    color: #ec2208;
}
a:hover{
    background-color: rgba(250, 193, 233, 0.062);
    color: #e70a0a;
}
a:focus{
    background-color: #0f0909;
    color: rgb(248, 12, 12);
}
div{
    padding: 10px;
    height: max-content;
}
footer{
    color: #fc0707;
    display: block;
    text-align: center;
    width: 100%;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    clear:both;
}
img{
    width: 100%;
    height: 60%;
    position: center;
    object-fit: cover;
}
header{
    position: relative;
    top: 0px;
    z-index: 9;
    width: 100%;
    text-align: center;
    background-color: #0e0d0d;
    border-radius: 5px;
    padding-bottom: 2px;
    right: -10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.navbar{
    border-bottom: 1px solid black;
}
main{
    margin: 0px;
}
.intro{
    padding: 0px;
    text-align: center;
    font-size: 25px;
    position: relative;
    height: 500px;
    border: 0px;
    text-align: center;
}
.intro h2 h3 h4{
    position: absolute;
    top: 100px;
    right: 100px;
}
#intro-cont{
    border-bottom: 2px solid rgb(248, 6, 6);
    color: rgb(10, 10, 10);
    font-weight: bold;
    position: absolute;
    top: 5%;
    right: 18%;
    font-size: 45px;
}
#intro-contact{
    color: rgb(20, 19, 19);
    font-weight: bold;
    position: absolute;
    top: 15%;
    right: 30%;
    font-size: 45px;
    border-bottom: 2px solid black;
}
#intro-serv{
    color: black;
    font-weight: bold;
    position: absolute;
    top: 15%;
    right: 30%;
    font-size: 45px;
    border-bottom: 2px solid #ffffff;
}
#log-cont, #home-cont{
    background-color:#ffffff;
}
form input{
    display: block;
    align-self: center;
}
#logbox {
    text-align: center;
    display: flexbox;
    padding: 10px;
    margin: 50px auto;
    width: 50%;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
#alogbox{
    text-align: center;
    display: flexbox;
    padding: 10px;
    margin: 50px auto;
    width: 50%;
    background-color:  #ffffff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.subbutton{
    cursor: pointer;
    font-size: 70%;
    display: inline-block;
    width: 50%;
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
    background-color:#ffffff;
    color: #ffffff;
    transition-property: border-radius, font-size;
    transition-delay: .1s;
    transition-duration: .2s;
}
.subbutton:hover{
    font-size: 100%;
    border-radius: 10px;
    transition-timing-function: linear;
}
input {
    font-weight: bold;
    color: #f70b0b;
    width: 75%;
    height: 50px;
    display: block;
    margin: 0 auto 15px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #000708;
}
input:focus {
    outline: none;
    border-bottom-color: rgb(16, 17, 17) !important;
}
input:hover {
    border-bottom-color: #131212;
}
footer{
    align-items: center;
    height: 200px;
}
.row ,.box-container{
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	flex: 1 1 40rem;
}
.box{
	flex: 1 1 18rem;
	text-align: center;
	padding: 15px;
    border-top: 2px solid #0e0d0d;
    margin: 5px;
}
.roww{
    text-align: center;
    background-color:  rgb(12, 12, 12);
}
.rectangle{
    background-color: black;
    flex: 1 1 18rem;
    text-align: center;
    padding: 0px;
    display: inline-block;
    width: 30%;
    margin: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.content{
    flex: 1 1 40rem;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    color: #0c0c0c;
    background-color: #ffffff;
    border-radius: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.logo h1{
    display: inline-block;
}
.lit{
    color: rgb(228, 28, 13);
}
.highlight{
    background-color: #0e0d0d;
}
.item{
    width: 50%;
}
.about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1300px;
    margin: 20px auto 0;
}
#lgn{
    margin: 1px;
    padding: 1px;
    display: block;
    clear: both;
    text-align: center;
    border: red;
}
#name{
    display: block;
}
.respond{
    display:block
}
.show{
    display: block;
}
